@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --type-base-size: 16px;
        --page-max-width: 1500px;
        --font-twentieth: "Twentieth Century";
        --gw-wishlist-heart-background: #f44336;
        --gw-wishlist-heart-foreground: #ef466f;
        --gw-loading-stroke-color: #ccc;
        --skeleton-background: 0, 0%, 93.33%;

        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 335, 78%, 52%;
        --primary-hover: 335, 78%, 52%;
        --primary-foreground: 300, 7%, 97%;

        --secondary: 0, 0%, 95%;
        --secondary-hover: 0, 0%, 93%;
        --secondary-foreground: 0 0% 9%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 0, 0%, 90%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 100% 98%;
        --destructive-foreground: 0 64% 50%;

        --tooltip: 240 10% 3.9%;
        --tooltip-foreground: 0 0% 100%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5% 64.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;

        --nav-item-shadow: rgba(0, 0, 0, 0.15);
        --nav-item-current: rgba(0, 0, 0, 0.08);
        --nav-container-shadow: rgba(0, 0, 0, 0.02);

        --rating-review: 44, 97%, 49%;
    }

    .dark {
        --background: 276, 33%, 3%;
        --foreground: 300, 7%, 97%;

        --card: 270, 33%, 7%;
        --card-foreground: 257, 9%, 54%;

        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;

        --primary: 335, 78%, 52%;
        --primary-hover: 335, 78%, 52%;
        --primary-foreground: 300, 7%, 97%;

        --secondary: 270, 24%, 20%;
        --secondary-hover: 256, 15%, 24%;
        --secondary-foreground: 0 0% 98%;

        --muted: 269, 26%, 17%;
        --muted-foreground: 257, 9%, 54%;

        --accent: 269, 26%, 17%;
        --accent-foreground: 0 0% 98%;

        --destructive: 318, 37%, 26%;
        --destructive-foreground: 335, 100%, 44%;

        --destructive: 0 100% 98%;
        --destructive-foreground: 0 64% 50%;

        --tooltip: 250, 24%, 20%;
        --tooltip-foreground: 0, 0%, 100%;

        --border: 269, 26%, 17%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;

        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;

        --nav-item-shadow: rgba(152, 150, 150, 0.15);
        --nav-item-current: rgba(144, 144, 144, 0.08);
        --nav-container-shadow: rgba(141, 141, 141, 0.02);

        --skeleton-background: 270, 24%, 20%;
    }
}

@font-face {
    font-family: "Twentieth Century";
    src: url("/fonts/twentieth.ttf") format("truetype");
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground font-sans;
        font-feature-settings: "rlig" 1, "calt" 1;
        height: 100%;
    }
}

.shadow-container {
    box-shadow: 1px 5px 5px var(--nav-container-shadow), -1px 5px 5px var(--nav-container-shadow);
}

.dotPattern {
    background-image: radial-gradient(rgb(35, 40, 68) 1px, transparent 1px);
    background-size: 25px 25px;
}

.use-automation-zoom-in {
    animation: automation-zoom-in 0.5s;
}

@keyframes automation-zoom-in {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-border-radius: 1ex;
}

.dark *::-webkit-scrollbar-thumb {
    background: #2a2a36;
    -webkit-border-radius: 1ex;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-corner {
    background: transparent;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

@supports (view-transition-name: none) {
    .page-transition {
        transition: none;
    }

    ::view-transition-group(root) {
        animation-duration: 0.7s;
        animation-timing-function: linear(0 0%, 0.2342 12.49%, 0.4374 24.99%, 0.6093 37.49%, 0.6835 43.74%, 0.7499 49.99%, 0.8086 56.25%, 0.8593 62.5%, 0.9023 68.75%, 0.9375 75%, 0.9648 81.25%, 0.9844 87.5%, 0.9961 93.75%, 1 100%);
    }

    ::view-transition-new(root) {
        mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><defs><filter id="blur"><feGaussianBlur stdDeviation="2"/></filter></defs><circle cx="0" cy="0" r="18" fill="white" filter="url(%23blur)"/></svg>') top left / 0 no-repeat;
        mask-origin: content-box;
        animation: scale 1s;
        transform-origin: top left;
    }

    ::view-transition-old(root),
    .dark::view-transition-old(root) {
        animation: scale 1s;
        transform-origin: top left;
        z-index: -1;
    }

    @keyframes scale {
        to {
            mask-size: 350vmax;
        }
    }
}
